<head>
    <title>Dojo Counter Assignment</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>

<body>

    <header>
        <div class="navbar navbar-dark bg-dark box-shadow">
            <div class="container d-flex justify-content-between">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="mr-2">
                        <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z">
                        </path>
                        <circle cx="12" cy="13" r="4"></circle>
                    </svg>
                    <strong>Dojo Session Counter</strong>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>

    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Dojo Session Counter!</h1>
                <p class="lead text-muted">Counting ...{{count}}</p>
                <p>
                    <form method = "post" action='/countsessions'>
                        <label>Increment Session Count by:
                        <input type="text" name="increment"></label><input type="submit"><br>
                        <input type="submit" class="btn btn-primary my-2" name="AddTwo" value="AddTwo">
                        <input type="submit" class="btn btn-secondary my-2" name="reset" value="reset">
                    </form>
                </p>
            </div>
        </section>
        </div>
        </div>

    </main>

</body>