<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'banda/css/style.css' %}">
    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Add Book</span>
    </nav>
    <div class="row">
        {% if messages %}
            {% for message in messages %}
                <p class="{{message.tags}}">{{message}}</p>
            {% endfor %}
        {% endif %}

        <div class="col-sm-4">
            <form action="new_book" method='POST'>
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" name="title" placeholder="Title">
                </div>

                <div class="form-group">
                    <textarea class="form-control" id="exampleFormControlTextarea4" rows="3" name="description" placeholder="Description"></textarea>
                </div>

                <div class='form-group'>
                    <button class="btn btn-primary">Add Book</button>
                </div>
            </form>

            
            <a href="{% url 'index'  %}">Home</a>
        </div>

        <div class="col-sm-6">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in allbooks%}
                    <tr>
                        <td>{{book.id}}</td>
                        <td>{{book.title}}</td>
                        <td>{{book.description}}</td>
                        <td><a href="{% url 'showb' book.id%}">View</a></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
        
    </div>
</body>

</html>